@model UsedVehicleSystem.Models.VehicleModel

@{
    ViewBag.Title = "Vehicle Model Detail";
}

    <h2>Vehicle Model Detail</h2>

<div>
    <h4>VehicleModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfDoors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfDoors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.Name)
        </dd>

    </dl>
</div>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ModelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
